body {
    font-family: Arial, sans-serif;
    background-color: #FFF4E8;
}

div {
    height: 300px;
    width: 250px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
h2 {
    
    font-family: 'Cinzel Decorative', serif;
    font-size: 50px;
    align-items: left;
    margin: 10px;
    padding: 10px;
}